:root {
	--font-base: "Outfit", sans-serif;

	--base-size: 16px;
	--gutter: 15px;
	--gap: 10px;
	--border-radius: 5px;

	--lightblue: #96adf3;
	--blue: #3a5199;
	--dark-blue: #2c3e75;
	--navy: #1a285b;
	--grey: #3f3f3f;
	--light: #f0f5ff;
	--white: #ffffff;
	
	--orange: #ff9f43;
	--lightorange:#ffd0d0;

	--red: #ff6b6b;
	--lightred: #ffd0d0;
}

/* animation */
@keyframes gradient-animation {
	0%{
		background-position: 0% 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0% 50%;
	}
}

a {
	text-align: center;
	margin: 90px;
}

.landing-container {
	align-items: center;
	justify-content: center;
	margin-top: 200px;
	margin-bottom: 200px;
}

.clock-container {
	animation: shake 0.5s infinite;
	align-items: center;
	justify-content: center;
}

.clock-container img {
	max-width: 100px;
	max-height: max-content;
}

@keyframes shake {
	0% { transform: rotate(0deg); }
	25% { transform: rotate(1deg); }
	50% { transform: rotate(0deg); }
	75% { transform: rotate(-1deg); }
	100% { transform: rotate(0deg); }
}

div {
	margin: auto;
}

button {
	padding: 1rem 2rem;
	font-size: 1.5rem;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	align-items: center;
}

button:hover {
	background-color: var(--dark-blue);
}

img:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
	font-family: "Outfit", sans-serif;
	font-size: calc(var(--base-size)* 2);
	text-align: center;
	margin-bottom: 20px;
	margin-top: var(--gutter);
	font-weight: bold;
	color: var(--blue);
}

body{
	font-family: "Outfit", sans-serif;
	background: linear-gradient(360deg,#8eb484,#a9cddf,#fedfa7);
	background-size: 180% 180%;
	animation: gradient-animation 12s ease infinite;
}