:root {
	--font-base: "Outfit", sans-serif;

	--base-size: 16px;
	--gutter: 15px;
	--gap: 10px;
	--border-radius: 5px;

	--lightblue: #96adf3;
	--blue: #3a5199;
	--dark-blue: #2c3e75;
	--navy: #1a285b;
	--grey: #3f3f3f;
	--light: #f0f5ff;
	--white: #ffffff;
	
	--orange: #ff9f43;
	--lightorange:#ffd0d0;

	--red: #ff6b6b;
	--lightred: #ffd0d0;
}

/* animation */
@keyframes gradient-animation {
	0%{
		background-position: 0% 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0% 50%;
	}
}

a {
	text-align: center;
	margin: 90px;
}

.landing-container {
	align-items: center;
	justify-content: center;
	/* margin-top: 200px; */
	margin-bottom: 200px;
	margin-top: 80px;
}

.clock-container {
	animation: shake 0.5s infinite;
	align-items: center;
	justify-content: center;
}

.clock-container img {
	width: 250px;
	align-items: center;
	margin: auto;
	animation: fadeIn 1s;
}

/* animation */

@keyframes shake {
	0% { transform: rotate(0deg); }
	25% { transform: rotate(1deg); }
	50% { transform: rotate(0deg); }
	75% { transform: rotate(-1deg); }
	100% { transform: rotate(0deg); }
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

div {
	margin: auto;
}

button {
	padding: 10px 15px;
	font-size: 1.5rem;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	align-items: center;
}

button:hover {
	background-color: var(--dark-blue);
}

img:hover {
	filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
}

h2 {
	font-family: "Outfit", sans-serif;
	font-size: calc(var(--base-size)* 2);
	text-align: center;
	margin-top: 20px;
	font-weight: bold;
	color: var(--blue);
	animation: fadeIn 1s;
}

h1 {
	font-family: "Outfit", sans-serif;
	font-size: calc(var(--base-size)* 2.2);
	text-align: center;
	margin-bottom: 15px;
	font-weight: 650;
	color: var(--light);
	animation: fadeIn 1s;
}

body{
	font-family: "Outfit", sans-serif;
	/* background: linear-gradient(360deg,#8eb484,#a9cddf,#fedfa7); */
	background: linear-gradient(180deg,#002d61,#a9cddf,#ffba25);
	background-size: 180% 180%;
	animation: gradient-animation 12s ease infinite;
}

@media (min-width: 1000px) {
	.landing-container {
		margin-bottom: 100px;
		margin-top: 100px;
	}

	.clock-container img {
		width: 330px;
		display: flex;
	}

	h2 {
		font-size: calc(var(--base-size)* 3.5);
		position: absolute;
		right: 110px;
		bottom: 350px;
	}
	
	h1 {
		font-size: calc(var(--base-size)* 4.5);
		position: absolute;
		left: 200px;
		bottom: 335px;
		color: var(--blue);
	}

}