:root {
	--font-base: "Outfit", sans-serif;

	--base-size: 16px;
	--gutter: 15px;
	--gap: 10px;
	--border-radius: 5px;
}

/* animation */
@keyframes gradient-animation {
	0%{
		background-position: 0% 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0% 50%;
	}
}

.clock-container {
	animation: shake 0.5s infinite;
}

.clock-container img {
	max-width: 100px;
	max-height: max-content;
	align-items: center;
	margin: auto;
}

@keyframes shake {
	0% { transform: rotate(0deg); }
	25% { transform: rotate(1deg); }
	50% { transform: rotate(0deg); }
	75% { transform: rotate(-1deg); }
	100% { transform: rotate(0deg); }
}

body{
	background: linear-gradient(360deg,#8eb484,#a9cddf,#fedfa7);
	background-size: 180% 180%;
	animation: gradient-animation 12s ease infinite;
}