:root {
	--base-size: 16px;
	--gutter: 15px;

	--blue: #3a5199;
	--dark-blue: #2c3e75;
}

.form-group {
	margin-bottom: var(--gutter);
}

button {
	font-size: var(--base-size);
	background-color: var(--blue);
	color: white;
	border: none;
	padding: 10px 15px;
	border-radius: 4px;
	width: 100%;
	margin-top: 10px;
	cursor: pointer;
}

button:hover {
	background-color: var(--dark-blue);
}

input, select {
	width: 100%;
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

body {
	font-family: "Inter", sans-serif;
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
}

h1 {
	font-family: "Outfit", sans-serif;
	font-size: calc(var(--base-size)* 2);
	text-align: center;
}